*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body, html{
    background-color: #000;
    color: #fff;
}
a, a:hover,a:visited {
    color: unset;
    text-decoration: none;
}
header{
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.meta-logo-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.meta-logo-container img{
    width: 235px;
}.meta-logo-container h1{
    margin-top: 15px;
    font-size: 25px;
}
.meta-logo-container p{
    font-size: 14px;
    font-weight: 300;
}
