*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body, html{
    background-color: #000;
    color: #fff;
}
a, a:hover,a:visited {
    color: unset;
    text-decoration: none;
}
header{
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.meta-logo-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.meta-logo-container img{
    width: 235px;
}.meta-logo-container h1{
    margin-top: 15px;
    font-size: 25px;
}
.meta-logo-container p{
    font-size: 14px;
    font-weight: 300;
}
.SmsMeta-card{
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}
.limiter-card{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
#vendas{
    padding: 40px 10px;
}
.card-sales{
    color: #676fff;
    font-size: 24px;
    margin-bottom: 20px;
}
.form-control-container{
    margin-bottom: 16px;
    max-width: 300px;
}
.form-control{
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;width: 100%;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
}
.meta-sales-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.meta-sales-table tdead{
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}
.meta-sales-table tbody{
    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;
}
.meta-sales-table tbody tr{
    height: 74px;
    border-top: 1px solid #5f6e82;
}
.meta-sales-table tbody tr:hover > td {
    background-color: #384459;
}
.meta-sales-table tbody tr:ntd-child(odd){
    background-color: #242c3b;
}